/**
 * COLORS
 */

.ik-gray, body {
  color: #272727;
}

.bg-ik-gray {
  background-color: #272727;
  color: white;
}

.ik-blue, a, h1, strong {
  color: #0098FF;
}

.bg-ik-blue {
  background-color: #0098FF;
  color: white;
}

.ik-green, a:hover {
  color: #3CB572;
}

.bg-ik-green {
  background-color: #3CB572;
  color: white;
}

.border-ik-green {
  border-radius: 10px;
  box-shadow: 0 2px 6px #3CB572BB !important;
}

body {
  font-family: 'Roboto', Sans, sans-serif;
}

code {
  font-family: "Cutive mono", "Courier New", monospace;
}

.ik-arial {
  font-family: "Arial Black", arial-black, 'Roboto', Sans, sans-serif;
}

#reqc, #urlb {
  width: 100%;
}

#reqc {
  height: 300px;
}

#testResult pre {
  height: 100%;
  min-height: 300px;
}